.s_search {
  width: 276px;
  height: 28px;
  position: relative;
  margin: 0 auto;
  top: 100px;
  border: 1px solid #e5e5e5; }

.model_form_s {
  width: 276px;
  /* min-height: 379px; */
  position: absolute;
  top: 30px;
  left: 0px;
  border: 1px solid #e5e5e5;
  border-top: 0px;
  border-bottom:0px;
  z-index: 999;
  background: #ffffff; }
  .model_form_s span {
    display: block;
    padding: 0px 10px;
    height: 24px;
    line-height: 34px;
    overflow: hidden;
    font-size: 12px;
    font-family: "Microsoft YaHei";
    color: #b5b5b5; }

.model_car_lists_a li, .model_car_lists_b li {
  width: 100%;
  height: 32px;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: #444444; }

.model_car_lists_a li a, .model_car_lists_b li a {
  display: block;
  padding: 0px 10px;
  color:#000;
  height: 32px;
  line-height: 32px; }

.model_car_lists_a li a {
  /*display: block;
  padding:0px 10px;
  height:$height32;
  line-height:$height32;*/ }
  .model_car_lists_a li a:hover {
    background: #f6f6f6;
    color: #489fdd; }
  .model_car_lists_a li a:hover .model_list_left {
    color: #489fdd; }
  .model_car_lists_a li a .model_list_left {
    width: 155px;
    text-align: left;
    float: left;
    line-height: 32px;
    height: 32px;
    padding: 0px;
    overflow: hidden;
    font-size: 14px;
    color: #444444;
    font-weight: bold; }
    .model_car_lists_a li a .model_list_left b {
      font-size: 14px;
      color: #444444; }
  .model_car_lists_a li a .model_list_right {
    width: 101px;
    text-align: right;
    float: right;
    line-height: 32px;
    height: 32px;
    padding: 0px;
    color: #e84d3b;
    font-size: 14px; }

.model_car_lists_b li a {
  overflow: hidden; }
  .model_car_lists_b li a:hover {
    background: #f6f6f6;
    color: #489fdd;
    text-decoration: none; }
    .model_car_lists_b li a:hover:hover b {
      color: #489fdd; }
  .model_car_lists_b li a b {
    font-size: 14px;
    color: #444444;
    font-weight: bold; }

.model_bm_empty {
  padding: 0px 10px;
  height: 22px;
  line-height: 22px;
  text-align: left;
  border-bottom:1px solid #e5e5e5;
  padding-bottom: 10px; }
  .model_bm_empty a {
    color: #999999;
    font-size: 14px;
    font-family: "Microsoft YaHei"; }
    .model_bm_empty a:hover {
      color: #3498db; }

.model_car_thumbnail {
  width: 118px;
  height: 88px;
  position: absolute;
  border: 1px solid #e5e5e5;
  left: -120px;
  top: -1px;
  border-right: 0;
  display: none; }

.model_form_s .model_car_lists_a .selected a {
  background: #f6f6f6;
  color: #489fdd;
  text-decoration: none; }
  .model_form_s .model_car_lists_a .selected a .model_list_left {
    color: #489fdd; }
.model_form_s .model_car_lists_a .selected .model_car_thumbnail {
  display: block; }

.model_form_s .model_car_lists_b .selected a {
  background: #f6f6f6;
  color: #489fdd;
  text-decoration: none; }
  .model_form_s .model_car_lists_b .selected a b {
    color: #489fdd; }

.model_form_con {
  width: 278px;
  height: 30px;
  position: relative;
  margin: 0 auto; }
  .model_form_con .input_txt {
    width: 187px;
    height: 28px;
	line-height:28px;
    position: relative;
    border: 1px solid #d9d8de;
    border-right: 0;
    float: left;
	outline:none;
    }
  .model_form_con .blue_but {
    width: 79px;
    height: 28px;
    border: 1px solid #3598db;
    display: inline-block;
    background: #3598db;
    border-left: 0;
    text-align: center;
	float:left;
    color: #ffffff;
	font-size:12px;
    line-height: 28px; }
.padding_input{
	padding:0px 5px;
}
body .model_form_con .w175{
	width:175px;
}
/* .demio_wp{ */
	/* overflow:hidden; */
/* } */
.noliststyle li{
	list-style:none;
}
/* .demio_wp, .model_wp{ */
	/* overflow:hidden; */
/* } */

/*20170221 liuning*/
body .model_form_con .w158 {
  width: 160px;
}
body .model_form_con .w247 {
  width: 249px;
}

body .model_form_con .w247 .model_list_left {
  width: 125px;
}

/*# sourceMappingURL=search.css.map */
